.clicable-content {
    cursor: pointer;
    transition: transform 0.15s ease;
    /* Smooth transition for scaling */
}

.card-body {
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.carousel-container {
    align-items: flex-start;
    margin-top: 5dvh;
}

/* Hover effect */
.clicable-content:hover {
    transform: scale(1.05);
    /* Scales the element to 110% of its original size */
}

.fadeIn {
    animation: FadeIn 0.15s ease-in forwards;
}

.fadeOut {
    animation: FadeOut 0.15s ease-in forwards;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        scale: 0.35;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        scale: 0.35;
        opacity: 0;
    }
}