@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER STATES */

.header {
    transition: 0.75s cubic-bezier(0.25, 0.1, 0.18, 1.11);
}

.header-window{
    justify-content: end;
    margin-right: 10;
    margin: 2.5vh;
    right: 0;
    width: 15vw;
}

.header-mobile{
    justify-content: center;
    margin-top: 15vh;
}

.li-active {
    opacity: 100;
    display: block;
}

.a-section{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.ul-style{
    text-overflow: ellipsis;
    animation: FadeIn 1s forwards;
    transition: opacity 0.25s, transform 0.25s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.fade-out{
    animation: FadeOut 0.5s forwards;
}

@keyframes FadeIn {
    0% {
        transform: translateY(-10dvw);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0dvw);
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
        transform: translateY(0dvw);
    }

    100% {
        transform: translateY(-10dvw);
        opacity: 0;
    }
}