.navigation-buttons {
  position: relative;
  display: flex;
  height: 60px;
  margin: 0 auto;
  width: 20%;
  margin-top: 1rem;
  justify-content: space-between;
  z-index: 1000;
}

.nav-btn {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.emoji-star {
  list-style-type: none;
  padding-left: 0;
}

.emoji-star li::before {
  content: "⭐";
  margin-right: 10px;
}