@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER STATES */

.header-main {
    transition: 0.75s cubic-bezier(0.25, 0.1, 0.18, 1.11);
    margin-top: 2.5dvh;
}

.header-cta {
    transition: 0.75s cubic-bezier(0.25, 0.1, 0.18, 1.11);
    margin-top: 85dvh;
}

.li-active {
    opacity: 100;
    display: block;
}

.li-inactive {
    opacity: 0;
    display: none;
}

.a-section {
    overflow: hidden;
    white-space: nowrap;
}

.ul-style {
    text-overflow: ellipsis;
    transition: 0.75s cubic-bezier(0.25, 0.1, 0.18, 1.11);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.neon-light-container {
    background: #00000000;
}
