@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color-start: #1b2735;
    --dark-color-end: #090a0f;
    --light-color-start: #3400c3;
    --light-color-end: #dbe0f8;
}

.App {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(90deg, var(--light-color-start), var(--light-color-end), var(--dark-color-start), var(--dark-color-end));
    background-size: 400% 400%;
    transition: background-position 0.15s ease-in-out;
    overflow-y: overlay;
    overflow-x: hidden;
}

.gradient-light {
    animation: gradientChangeReverse 1s forwards;
}

.gradient-dark {
    animation: gradientChange 1s forwards;
}

/* 
KEYFRAME ANIMATION
*/

@keyframes gradientChange {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradientChangeReverse {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 
SCROLLBAR
*/

/* BODY */

body::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 14px;
    border: 4px solid #ffffff00;
}

body::-webkit-scrollbar-button {
    display: none;
}


/* UL */

ul::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 10px;
}

ul::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

ul::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 14px;
    border: 4px solid #ffffff00;
}

ul::-webkit-scrollbar-button {
    display: none;
}

p::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 10px;
}

p::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

p::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 14px;
    border: 4px solid #ffffff00;
}

p::-webkit-scrollbar-button {
    display: none;
}

.reflection {
    overflow: hidden;
}

.reflection::after {
    content: "";
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    top: -180px;
    left: 0;
    background-color: #ffffff7a;
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: reflect 5s ease-in-out infinite;
    -webkit-animation: reflect 5s ease-in-out infinite;
}

@keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

@-webkit-keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}